@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #9C8373;
}

.home-button, .sign-in-btn {
  width: 120px;
  height: 40px;
  background-color: #50671F;
  border: none;
  margin-top: 10px;
}

.home-button:hover, .sign-in-btn:hover {
  background-color: #374715;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #acacac;
}

.nav-brand {
  color: #ffffff;
  font-size: 22px;
  margin-right: 12px;
  margin-bottom: 3px;
}

.nav-brand:hover {
  color: #acacac;
  transition: .3s;
}
